@font-face {
    font-family: Montserrat-Regular;
    src: url('../Montserrat/static/Montserrat-Regular.ttf')  format('truetype');
  }
@font-face {
font-family: Montserrat-Bold;
src: url('../Montserrat/static/Montserrat-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: Montserrat-Light;
    src: url('../Montserrat/static/Montserrat-Light.ttf')  format('truetype');
    }
@font-face {
    font-family: Roboto-Thin;
    src: url('../Roboto/Roboto-Thin.ttf')  format('truetype');
    }
@font-face {
    font-family: Roboto-Regular;
    src: url('../Roboto/Roboto-Regular.ttf')  format('truetype');
    }
@media only screen and (max-width: 995px) {
    .logo {
        width: 150px;
        height: 150px;
        bottom: -120px;
        left: 20px;
    }
    .logo img {
        width: 100px !important;
    }
    .navbar ul {
        margin-left: 50px;
        justify-content: center;
    }
    .navbar ul li a {
        color: #000 !important;
    }
    .nav-active .logo  {
        bottom: -40px;
    }
    .banner_blog img {
        width: 100%;
    }
    .banner .carousel-control-next, .banner .carousel-control-prev {
        transform: none;
    }
    .banner .carousel-control-prev {
        bottom: 0px !important;
    }
    .banner .carousel-control-next {
        bottom: 0px !important;
        right: 0px !important;
    }
    .banner .carousel-indicators::before {
        content: none;
    }
    .banner .carousel-indicators {
        flex-direction: row;
    }
    .lign_02::before {
        left: 145px;
    }
    .tanner02 .underline::after {
        width: 80%;
        left: 10%;
    }
    .tanner02_img img {
        right: 0px;
    }
    .tanner04 h4 {
        font-size: 30px;
    }
    .tanner04 .tanner04_img {
        left: 40%;
    }
    .modal-dialog {
        max-width: 95% !important;
    }
    .foot_menu{
        flex-direction: column;

    }
 
}

@media only screen and (max-width: 768px) {
    .logo  {
        width: 100px;
        height: 100px;
        bottom: -85px; 
    }
    .logo img {
        width: 70px !important;
    }
    .navbar ul {
        margin-left: 0px;
    }
    .nav-active .logo {
        bottom: -20px;
    }
    .banner .carousel-indicators {
        bottom: 35% !important;
    }
    .voyager_header {
        position: static;
        color: #000;
        text-align: center;
    }
    .voyager_text {
        position: static;
    }
    .voyager_text br {
        display: none;
    }
    .voyager_borderline {
        display: none;
    }
    .drifter .voyager_header {
        text-align: center;
    }
    .lign_01::before,
    .lign_01::after,
    .lign_02::before {
        content: none;
    }
    .tanner02 {
        height: auto;
    }
    .tanner02_img img {
        position: static;
    }
    .lign_02 p br {
        display: none;
    }
    .lign_02 p span {
        display: block;
    }
    .tanner03 img {
        width: 100% !important;
        margin-left: 0px;
    }
    .tanner04 {
        height: auto;
    }
    .tanner04 .text-align-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tanner04 .tanner04_img {
        position: static;
    }
    .tanner04 .tanner04_img h1 {
        text-align: left;
        width: 100%;
    }
    .tanner04 .tanner04_img img {
        width: 100% !important;
    }
    .gallery {
        flex-wrap: wrap;
    }
    .album {
        width: calc(100% / 3 - 20px);
        margin-bottom: 20px;
    }
    .footer div {
        width: 100% !important;
        text-align: center;
    }
    .foot_menu {
        display: none;
    }
    .footer div.input-group {
        width: 60% !important;
        margin: 0 auto;

    }
    
}

@media only screen and (max-width: 600px) {
    .nav {
        padding: 0px !important;
    }

    .logo {
        left: auto;
        right: 15%;
        bottom: -35px;
        background: none;
    }
    .logo img {
        width: 100px !important;
    }
    .navbar,
    .banner .carousel-control-prev,
    .banner .carousel-control-next{
        display: none !important;
    }
    .banner_blog img {
        height: 100%;
        object-fit: cover;
    }
    .banner .carousel-caption {
        right: 15% !important;
        bottom: 1.25rem !important;
        left: 15% !important;
    }
    .banner .carousel-indicators {
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }
    .carousel-dark .carousel-caption {
        color: #fff !important;
    }

    .phone {
        display: block !important;
        width: 100%;
        position: relative;
        z-index: 99;
    }
    .content {
    width: 100%;
    height: 91%;
    background-color: #F5F6FA;
    }
    nav {
    background-color: #b8a47e;
    height: 65px;
    }
      
    #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    }
    
    #menuToggle input
    {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    }
    
    #menuToggle span
    {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
    transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }
    
    #menuToggle input:checked ~ span
    {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
    }
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
    transform: rotate(-45deg) translate(0, -1px);
    }
    
    #menu
    {
    list-style: none;
    position: absolute;
    width: 50%;
    height: auto;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 100px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
    padding: 10px 0;
    transition-delay: 2s;
    }

    #menu li a {
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        color: #36383F;
    }
    
    #menuToggle input:checked ~ ul
    {
    transform: none;
    }
}


/* Re-fixing bugs */
.carousel-control-next, .carousel-control-prev {
    width: auto !important;
    left: 5% !important;
}
.banner .carousel-indicators {
    left: 5% !important;
}
.carousel-caption h3,
.voyager_header h2 {
    font-family: Montserrat-Bold;
    font-size: 48.5px;
}
.carousel-caption span {
    font-family: Montserrat-Regular;
    font-size: 21.5px;
    color: #383838;
}
.voyager_header span,
.tanner_header span {
    font-family: Montserrat-Regular;
    font-size: 21.5px;
}
.navbar ul li a::before {
    content: '';
    width: 40px;
    border: 1px solid #b8a47e;
    position: absolute;
    top: 40%;
    right: 110%;
    display: none;
}
.navbar ul li a::after {
    content: '';
    width: 5px;
    border: 2px solid #b8a47e;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 110%;
    display: none;
}
.navbar ul li a:hover::before,
.navbar ul li a:hover::after {
    display: block;
}

.tanner01 h4 ,
.tanner02 h4 ,
.tanner03 h4 ,
.tanner04 h4 {
    font-family: Montserrat-Bold;
    font-size: 26.86px;
   color: #383838 !important; 
}
.tanner04 h4 {
    font-size: 60px !important;
    color: #dcdee0 !important;
    text-shadow: 5px 10px 15px #dcdee0;
}
.foot_menu li a {
    font-family:  Montserrat-Bold;
    font-size: 15px;
    position: relative;
}
.foot_menu li a::before {
    content: '';
    width: 30px;
    border: 1px solid #b8a47e;
    position: absolute;
    top: 40%;
    right: 105%;
    display: none;
}
.foot_menu li a::after {
    content: '';
    width: 5px;
    border: 2px solid #b8a47e;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 105%;
    display: none;
}
.foot_menu li a:hover::before,
.foot_menu li a:hover::after {
    display: block;
}
.address h6 {
    font-family: Roboto-Regular;
}
.address p {
    font-family: Roboto-Thin;
}
.email h6 {
    font-family: Montserrat-Bold;
    font-size: 15px;
}
.email p {
    font-family: Roboto-Regular;
    font-size: 12.5px !important;
}
.foot_end p {
    font-family: Roboto-Thin;
    font-size: 15px;
}
.foot_social {
    justify-content: flex-end !important;
}
.foot_social li {
    margin-left: 30px;
}
.foot_social li a {
    font-family: Montserrat-Light;
    position: relative;
}
.foot_social li a::before {
    content: '';
    width: 25px;
    border: 1px solid #b8a47e;
    position: absolute;
    top: 40%;
    right: 105%;
    display: none;
}
.foot_social li a::after {
    content: '';
    width: 5px;
    border: 2px solid #b8a47e;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 105%;
    display: none;
}
.foot_social li a:hover::before,
.foot_social li a:hover::after {
    display: block;
}
.foot_social li a:hover {
    font-family: Montserrat-Bold;
    color: #000;
}
.tanner01 h1, .tanner02 h1, .tanner03 h1, .tanner04 h1 {
    font-family: Montserrat-Bold;
    font-size: 60px;
    color: #969696 !important;
}
.gear_up {
    margin-left: 5%;
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.gear_up span {
    font-family: Montserrat-Regular;
    font-size: 21.5px;
    color: #b8a47e;
    padding: 0 10px;
}
.voyager_text p {
    font-family: Montserrat-Regular;
    font-size: 14.5px;
    color: #a7a7a7;
}
@media only screen and (min-width: 2000px) {
    .navbar ul li:nth-child(4) a, .navbar ul li:nth-child(5) a {
        color: #000 !important;
    }
}
@media only screen and (min-width: 1400px){
    .tanner04 .tanner04_img {
        bottom: -40px !important;
    }
}